<?xml version="1.0" encoding="utf-8"?>
<!--
/*
** Copyright (C) 2018, 2019 Vad Nik (http://github.com/vadniks). All rights reserved.
**
** This code is a part of proprietary software.
** Usage, distribution, redistribution, modifying 
** and/or commercial use of this code,
** without author's written permission, are strongly prohibited. 
*/
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="">

    <uses-feature
            android:name="android.hardware.camera"
            android:required="true"/>
    <uses-feature
            android:name="android.hardware.camera.autofocus"
            android:required="true"/>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
            android:fullBackupContent="false"
            android:icon="@drawable/qrcode"
            android:label="@string/app_name"
            android:roundIcon="@drawable/qrcode"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity
                android:name=".MainActivity"
                android:label="@string/app_name"
                android:launchMode="singleTop"
                android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>

                <!-- <category android:name="android.intent.category.LAUNCHER"/> -->

                <data android:mimeType="image/*"/>
            </intent-filter>
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.SENDTO"/>-->

                <!--&lt;!&ndash; <category android:name="android.intent.category.LAUNCHER"/> &ndash;&gt;-->

                <!--<data android:mimeType="image/*"/>-->
            <!--</intent-filter>-->
        </activity>

        <meta-data
                android:name="com.google.android.gms.version"
                android:value="@integer/google_play_services_version"/>
        <meta-data
                android:name="com.google.android.gms.vision.DEPENDENCIES"
                android:value="barcode"/>

        <activity
                android:name=".CreateActivity"
                android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>
